:host {
  display: block;
}

@media (max-width: 480px) {
  .sticky-footer-actions {
    flex-direction: column;
    align-items: stretch;
  }

  .sticky-footer-actions :ng-deep .p-button {
    width: 100%;
    justify-content: center;
  }
}
