<div class="md:p-4">
  <p-card styleClass="responsive-card mx-auto max-w-2xl">
    <ng-template pTemplate="title">
      <h2 class="m-0 mb-3">
        {{ isEditMode ? "Klant Bewerken" : "Nieuwe Klant" }}
      </h2>
    </ng-template>
    <form
      [formGroup]="form"
      class="p-fluid form-content-wrapper"
      (ngSubmit)="submit()"
    >
      <div class="field">
        <p-floatlabel variant="on">
          <input
            pInputText
            id="naam"
            class="w-full"
            [formControl]="form.controls.name"
            autocomplete="off"
            aria-required="true"
          />
          <label for="naam">Naam *</label>
        </p-floatlabel>
        <app-validation-message [control]="form.controls.name" label="Naam" />
      </div>

      <div class="field">
        <p-floatlabel variant="on">
          <p-inputmask
            inputId="telefoon"
            styleClass="w-full"
            mask="0999999999"
            placeholder="0612345678"
            [unmask]="true"
            [formControl]="form.controls.phone"
            [showClear]="true"
            autocomplete="tel"
            inputmode="tel"
            aria-required="true"
          />
          <label for="telefoon">Telefoon *</label>
        </p-floatlabel>
        <app-validation-message
          [control]="form.controls.phone"
          label="Telefoon"
        />
      </div>
      <div class="field">
        <p-floatlabel variant="on">
          <input
            pInputText
            id="email"
            class="w-full"
            [formControl]="form.controls.email"
            autocomplete="off"
          />
          <label for="email">E-mail</label>
        </p-floatlabel>
        <app-validation-message
          [control]="form.controls.email"
          label="E-mail"
        />
      </div>
      <p-divider />
      <div class="flex justify-content-between align-items-center w-full">
        <h4 class="m-0">Honden</h4>
        <p-button
          styleClass=""
          size="small"
          icon="pi pi-plus"
          label="Toevoegen"
          (click)="addDog()"
          type="button"
        ></p-button>
      </div>
      @for (dogGroup of dogsArray.controls; track $index) {
        <div [formGroup]="$any(dogGroup)" class="p-2">
          @if (dogGroup.controls.isAggressive.value) {
            <p-message
              styleClass="mb-3"
              severity="error"
              icon="pi pi-exclamation-triangle"
              message="Let op: Dit dier is gemarkeerd als agressief"
              >Let op: Dit dier is gemarkeerd als agressief</p-message
            >
          }
          <div class="formgrid grid align-items-center">
            <div class="field col-12 md:col-6">
              <p-floatlabel variant="on">
                <input
                  pInputText
                  id="naamHond"
                  class="w-full"
                  [formControl]="dogGroup.controls.name"
                  autocomplete="off"
                  aria-required="true"
                />
                <label for="naamHond">Naam *</label>
              </p-floatlabel>
              <app-validation-message
                [control]="dogGroup.controls.name"
                label="Naam hond"
              />
            </div>
            <div class="field col-12 md:col-6">
              <p-floatlabel variant="on" class="w-full">
                <p-autocomplete
                  class="w-full"
                  [formControl]="dogGroup.controls.breed"
                  [dropdown]="true"
                  [suggestions]="filteredBreeds"
                  (completeMethod)="searchBreeds($event)"
                  optionLabel="name"
                  appendTo="body"
                />
                <label for="ras">Ras</label>
              </p-floatlabel>
            </div>
            <div class="field mt-2 col-12 md:col-6">
              <div class="flex align-items-end gap-2 flex-wrap md:flex-nowrap">
                <div class="flex-1 min-w-0">
                  <p-floatlabel variant="on" class="w-full">
                    <p-datepicker
                      [inputId]="'geboortedatum-' + $index"
                      styleClass="w-full"
                      inputStyleClass="w-full"
                      [formControl]="dogGroup.controls.dateOfBirth"
                      dateFormat="dd-mm-yy"
                      appendTo="body"
                    />
                    <label [for]="'geboortedatum-' + $index"
                      >Geboortedatum</label
                    >
                  </p-floatlabel>
                </div>
                <div class="w-9rem min-w-8rem shrink-0">
                  <p-floatlabel variant="on" class="w-full">
                    <p-inputnumber
                      [inputId]="'leeftijd-' + $index"
                      class="w-full"
                      [formControl]="dogGroup.controls.age"
                      [disabled]="true"
                      suffix=" jaar"
                      inputStyleClass="w-full"
                    ></p-inputnumber>
                    <label [for]="'leeftijd-' + $index">Leeftijd</label>
                  </p-floatlabel>
                </div>
              </div>
            </div>
            <div class="field col-12 md:col-4">
              <p-floatlabel variant="on">
                <p-select
                  inputId="geslacht"
                  [formControl]="dogGroup.controls.gender"
                  [options]="[
                    { label: 'Reu', value: 'male' },
                    { label: 'Teefje', value: 'female' },
                  ]"
                  optionLabel="label"
                  optionValue="value"
                  class="w-full"
                />
                <label for="geslacht">Geslacht</label>
              </p-floatlabel>
            </div>
            <div class="field col-12 md:col-4">
              <div class="flex align-items-center gap-2">
                <p-checkbox
                  [inputId]="'gecastreerd-' + $index"
                  [formControl]="dogGroup.controls.isNeutered"
                  [binary]="true"
                />
                <label [for]="'gecastreerd-' + $index"
                  >Gecastreerd/Gesteriliseerd</label
                >
              </div>
            </div>
            <div class="field col-12 md:col-10">
              <div class="flex align-items-center gap-2">
                <p-checkbox
                  [inputId]="'agressief-' + $index"
                  [formControl]="dogGroup.controls.isAggressive"
                  [binary]="true"
                />
                <label [for]="'agressief-' + $index">Agressief</label>
              </div>
            </div>
            @if (canDeleteDog) {
              <div class="field col-12 md:col-2">
                <p-button
                  icon="pi pi-trash"
                  styleClass="p-button-danger w-full"
                  (click)="removeDog($index)"
                  type="button"
                ></p-button>
              </div>
            }
          </div>
          @if ($index < dogsArray.controls.length - 1) {
            <p-divider />
          }
        </div>
      }
    </form>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-end gap-2 sticky-footer-actions">
        <p-button
          label="Annuleren"
          icon="pi pi-times"
          styleClass="p-button-text"
          (click)="cancel()"
          type="button"
        ></p-button>
        <p-button
          label="Opslaan"
          icon="pi pi-check"
          (click)="submit()"
          [disabled]="form?.invalid || isSaving"
          [loading]="isSaving"
        ></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
