<p-dialog
  [(visible)]="visible"
  (visibleChange)="visibleChange.emit($event)"
  [modal]="true"
  [header]="header"
  [maximizable]="true"
>
  <ng-content></ng-content>

  <ng-template #footer>
    <div class="flex justify-content-end mt-2">
      <p-button
        label="Annuleren"
        icon="pi pi-times"
        styleClass="p-button-text"
        (click)="onCancel()"
        type="button"
      ></p-button>
      <p-button
        label="Opslaan"
        icon="pi pi-check"
        (click)="onSave()"
        [disabled]="isFormInvalid"
        type="button"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
